<!DOCTYPE html>
<html>
  <head>
    <title>ChatAppRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div><%= link_to "Home", root_path %> | <%= link_to "Users", users_path %> | <%= link_to "Channels", channels_path %> | <%= link_to "Messages", messages_path %></div>
    </nav>
    <hr>
      <%= yield %>
    <hr>
    <footer>

        Website.
    </footer>
  </body>
</html>
